target
.vscode
.idea
*.log
.repos
.repl_history
.claude

# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
